<form class="form" [formGroup]="roomForm" (ngSubmit)="submitForm()">
  <h3 class="ui header">Add new room</h3>
  <div class="field">
    <input
      formControlName="number"
      name="number"
      type="number"
      placeholder="Room number"
      id="number"
    />
  </div>
  <div
    class="error-msg"
    *ngIf="
      roomForm.controls['number']['errors'] &&
      roomForm.controls['number']['errors']['invalidNumber']
    "
  >
    Number of room must be unique.
  </div>
  <div
    class="error-msg"
    *ngIf="
      roomForm.controls['number']['errors'] &&
      roomForm.controls['number']['errors']['required']
    "
  >
    Number is required.
  </div>
  <div class="field">
    <input
      formControlName="size"
      name="size"
      type="number"
      placeholder="Room size"
      id="size"
    />
  </div>
  <div class="error-msg" *ngIf="roomForm.controls['size']['errors']">
    Minimum size is 15
  </div>
  <div class="field">
    <input
      formControlName="price"
      name="price"
      type="number"
      placeholder="Room price"
      id="price"
    />
  </div>
  <div class="error-msg" *ngIf="roomForm.controls['price']['errors']">
    Price is required.
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!roomForm.valid">
    Submit
  </button>
</form>
