<div class="container">
  <div class="rooms">
    <div class="rooms__title">MetHotels</div>
    <div class="rooms__search">
      <h3>Search</h3>
      <input
        [(ngModel)]="searchText"
        type="number"
        placeholder="Search rooms within price"
      />
    </div>
    <div class="rooms__list-head">
      <div class="rooms__list-head__title">Number</div>
      <div class="rooms__list-head__title">Size</div>
      <div class="rooms__list-head__title">Price per night</div>
      <div class="rooms__list-head__title">Actions</div>
    </div>
    <app-hotel-room
      *ngFor="let hotelRoom of hotelRooms | filterPipe: searchText; index as i"
      [hotelRoom]="hotelRoom"
      (roomToDelete)="deleteRoom($event)"
      (updateRoom)="setUpdateFormValues($event)"
    >
    </app-hotel-room>
  </div>
  <button (click)="shuffleRooms()" class="shuffle-btn">Shuffle</button>

  <div class="form change-room-form">
    <h3 class="ui header">Update room<span id="room-number"></span></h3>
    <input type="hidden" id="numberToChange" #updateNumber />
    <div class="field">
      <label>Size</label>
      <input
        name="size"
        type="number"
        placeholder="Room size"
        id="update-size"
        #updateSize
      />
    </div>

    <div class="field">
      <label>Price</label>
      <input
        name="price"
        type="number"
        placeholder="Room price"
        id="update-price"
        #updatePrice
      />
    </div>
    <button
      (click)="updateRoomHandler(updateNumber, updateSize, updatePrice)"
      class="btn btn-warning"
    >
      Update
    </button>
  </div>

  <app-add-room (roomToAdd)="addRoom($event)"></app-add-room>

  <!-- <div class="form">
    <h3 class="ui header">Add new room</h3>
    <div class="field">
      <input
        name="number"
        type="number"
        placeholder="Room number"
        id="number"
        #newNumber
      />
    </div>
    <div class="field">
      <input
        name="size"
        type="number"
        placeholder="Room size"
        id="size"
        #newSize
      />
    </div>
    <div class="field">
      <input
        name="price"
        type="number"
        placeholder="Room price"
        id="price"
        #newPrice
      />
    </div>
    <button
      class="btn btn-primary"
      (click)="addRoom(newNumber, newSize, newPrice)"
    >
      Submit
    </button>
  </div> -->
</div>
