.hotel-room {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;

  &__item {
    width: 33%;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #000;
    padding: 6px 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    button {
      display: block;
      margin-bottom: 6px;
    }
  }
}

.price-calculator {
  display: none;

  &.active {
    display: block;
  }

  label {
    margin-right: 10px;
  }
}
